<!DOCTYPE HTML>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons -->
<link rel="shortcut icon" href="favicon.png">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">

<title>ISS</title> 

<!-- Styles -->
<link href="css/style.css" rel="stylesheet" media="screen">
<link href="css/icons.css" rel="stylesheet" media="screen" type="text/css">
<link href="css/responsive.css" rel="stylesheet" media="screen" type="text/css">
</head>
<body>
    
    <div class="loader"><div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></div>

    <!-- Navbar -->

    <header class="navbar navbar-2 navbar-white boxed">
      <div class="navbar-bg"></div>
      <a class="brand" href="#page1">
        <img class="brand-img" alt="Logo" src="images/logo_home.png">
      </a>
    </header>

    <div class="container-fluid">
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 section-bg-blue">
    			<div class="content-img-blue">
				    <p class="subtitle-top text-white">Paso 3 de 4
				    </p>
				    <h1 class="display-2 text-white margin-xs"> RESUMEN
				       	<span class="text-primary"><br class="hidden-sm">DE COMPRA.</span>
				    </h1>
				    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 text-white p-l-0">
				    	<p><span class="text-white-bold">Auto:</span> Nissan March</p>
				    </div>
				    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 text-white p-l-0">
				    	<p><span class="text-white-bold">Año:</span> 2013</p>
				    </div>
				    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 text-white p-l-0">
				    	<p><span class="text-white-bold">Plan:</span> Amplia</p>
				    </div>
				    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 text-white p-l-0">
				    	<p><span class="text-white-bold">Prima:</span> $16,235.71</p>
				    </div>
				    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 text-white p-l-0">
				    	<p><span class="text-white-bold">Forma de Pago:</span> Anual</p>
				    </div>
				    <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 text-white p-l-0">
				    	<p><span class="text-white-bold">Aseguradora:</span> HDI</p>
				    	
				    </div>
			    </div>
			</div> 

            <!-- Contenedor de cambio -->  

			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 p-0">
				<header class="yellow-line"></header>
				<div class="col-lg-12 text-right content-menu-cotizar"><i class="fa fa-ellipsis-v"></i></div>
				<div class="content-white">
					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 margin-content">
						<img src="images/logos/nissan.png" class="brand-cars">
					</div>
					<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
						<h5>Nissan March 2013</h5>
						<p class="text-muted"><strong>Versión:</strong> 1.6L Active AA Estandar Hatchback</p>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-content">
						<p class="text-dark">Domicilio del Asegurado</p>
						<form>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*Calle:</label>
                                <input type="text" class="inp-cotizar">
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-l-0">
                                	<label class="text-label">*No. Ext.</label>
                                    <input type="text" class="inp-cotizar">
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-r-0">
                                	<label class="text-label">*No. Int.</label>
                                    <input type="text" class="inp-cotizar">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*Código Postal:</label>
                                <input type="text" class="inp-cotizar">
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*Colonia:</label>
                                <input type="text" class="inp-cotizar">
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*Delegación/Municipio:</label>
                                <input type="text" class="input-none">
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*Estado:</label>
                                <input type="text" class="input-none">
                            </div>

                             <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox-1" type="checkbox">
                                    <label for="checkbox-1" class="text-label">Enviar mensaje de texto <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="3 ó 4 números detrás de la tarjeta" ></i>
                                    </label>
                                </div>
                                <input type="text" class="inp-cotizar">
                            </div>
						</form>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-content">
						<p class="text-dark">Datos de Emisión</p>
						<form>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-10">
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox-2" type="checkbox">
                                    <label for="checkbox-2" class="text-label">Soy un Agente / Me ayudó un Agente:
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*No. de Agente:</label>
                                <input type="text" class="inp-cotizar">
                            </div>

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*Fecha Emisión</label>
                                <div class="input-calendar">
                                    <input type="text" class="inp-cotizar">
                                    <button type="button" class="btn-calendar" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </div>
                            </div>

                             <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="text-label">*Inicio de Vigencia</label>
                                <div class="input-calendar">
                                    <input type="text" class="inp-cotizar">
                                    <button type="button" class="btn-calendar" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                            	<a href="paso-4.html" class="btn-bottom"><button class="btn">SIGUIENTE</button></a>
                        	</div>
						</form>
					</div> 
				</div>
    		</div>
    	</div>
    </div>	


<!-- jQuery -->

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.pagepiling.js"></script>



<!-- Scripts -->
<script src="js/scripts.js"></script> 
</body>
</html>