<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <!-- FORMULARIO DE CAMBIO DE PASSWORD -->
  <form
    [formGroup]="changePasswordForm"
    class="js-form"
    (submit)="submitChangePasswordForm()"
    novalidate="novalidate"
  >

    <!-- VALIDACIONES -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-b-20 danger"
         *ngIf="changePasswordForm.invalid && ( OldPassword.touched || Password.touched || PasswordVerification.touched)">

      <!-- Validaciones Contraseña Actual -->
      <ul *ngIf="OldPassword.invalid && (OldPassword.dirty || OldPassword.touched)">
        <li *ngIf="changePasswordForm.controls['OldPassword'].hasError('required')">
          La <strong>Contraseña Actual</strong> es requerida.
        </li>
      </ul>

      <!-- Validaciones Nueva Contraseña -->
      <ul *ngIf="Password.invalid && (Password.dirty || Password.touched)">
        <li
          *ngIf="changePasswordForm.controls['Password'].hasError('required')">
          La <strong>Nueva Contraseña</strong> es requerida.
        </li>
        <li *ngIf="changePasswordForm.controls['Password'].hasError('minlength')">
          La <strong>Nueva Contraseña</strong> debe contener al menos 6 caracteres.
        </li>
      </ul>

      <!-- Validaciones de Confirmar Contraseña -->
      <ul
        *ngIf="Password.valid && PasswordVerification.invalid && (PasswordVerification.dirty || PasswordVerification.touched)">
        <li *ngIf="changePasswordForm.controls['PasswordVerification'].hasError('required')">
          Debes Confirmar tu <strong>Nueva Contraseña</strong>.
        </li>
        <li
          *ngIf="changePasswordForm.controls['PasswordVerification'].hasError('invalid') && !changePasswordForm.controls['PasswordVerification'].hasError('required')">
          La confirmación de la <strong>Nueva Contraseña</strong> no coincide.
        </li>
      </ul>

    </div>

    <!-- FINALIZAN LAS VALIDACIONES -->


    <!-- PASSWORD ACTUAL -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
      <label class="text-label" for="OldPassword">*Contraseña Actual:</label>
      <input
        id="OldPassword"
        name="OldPassword"
        [(ngModel)]="changePasswordRequest.OldPassword"
        formControlName="OldPassword"
        required
        type="password"
        class="inp-cotizar"
        placeholder="Ingresa tu Contraseña Actual"
        aria-required="true">
    </div>


    <!-- NUEVA CONTRASENA -->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3">
      <label class="text-label" for="Password">*Nueva Contraseña:</label>
      <input
        id="Password"
        name="Password"
        [(ngModel)]="changePasswordRequest.Password"
        formControlName="Password"
        required
        type="password"
        class="inp-cotizar"
        placeholder="Ingresa tu Nueva Contraseña"
        aria-required="true">
    </div>

    <!-- CONFIRMACION DE LA CONTRASENA -->
    <div *ngIf="changePasswordRequest.Password && (Password.valid) "
         class="col-xs-12 col-sm-4 col-md-4 col-lg-3 m-b-20">
      <label class="text-label" for="PasswordVerification">*Confirmar Contraseña:</label>
      <input
        id="PasswordVerification"
        name="PasswordVerification"
        [(ngModel)]="changePasswordRequest.PasswordVerification"
        formControlName="PasswordVerification"
        required
        type="password"
        class="inp-cotizar"
        placeholder="Confirma tu Nueva Contraseña"
        aria-required="true">
    </div>


    <!-- SUBMIT -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right-content">
      <a>
        <button class="btn"
                type="submit"
                [disabled]="!changePasswordForm.valid">
          GUARDAR
        </button>
      </a>
    </div>


  </form>
</div>

<!-- Ventanas Modales -->
<app-modal-windows-error #modalError [errorMessage]="parentErrorMessage"></app-modal-windows-error>
<app-modal-windows-success #modalSuccess [successMessage]="parentSuccessMessage"></app-modal-windows-success>

